*{
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }
  body{
    font-family: 'Roboto', sans-serif;
  }
  header{
    width: 100vw;
    height: 15vh;
    background-color: #2d031d;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  .logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: whitesmoke;
    border: whitesmoke 1px solid;
    padding: 1rem;
    border-radius: 4rem;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 7rem;
    
    max-width: 28rem;
    
    
  }
  .area-logo{
    flex: 1;
   
  }
  .botones{
    flex: 1;
    display: flex;
    justify-content: space-around;
    margin-left: 5rem;
  }
  .botones a {
    text-decoration: none;
    font-size: 2.5rem;
    color: whitesmoke;
  }
  .barra-busqueda{
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .barra{
    width: 45rem;
    height: 5rem;
    background-color: #5c28482c;
    font-size: 4rem;
    border-radius: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 2rem;
    color: whitesmoke;
  }
  .boton{
    width: 9rem;
    border-radius: 1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #5c28482c;
    color: whitesmoke;
    font-size: 2rem;
  }

  main{
    display: flex;
    width: 100vw;
    height: 85vh;
    background-color: coral;
  }
  .centro{
    flex: 2;
    background-color: #3c0518;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: whitesmoke;
  }

  .centro p:first-of-type{
    font-size: 5rem;
  }
  .centro p{
    font-size: 3rem;
  }

  iframe{
    height: 30rem;
    width: 50rem;
  }
  

  main section{
    flex: 1;
    background-color: #1f0021;
    display: flex;
    flex-direction: column;
  }
 
  .cuadrito{
    flex: 1;
    margin:  2rem;
    background-color: #464646;
  }
  .img1{
    background-image: url(img/WANDA.jpg);
    background-size: cover;
  }
  .img2{
    background-image: url(img/got.jpeg);
    background-size: cover;
  }
  .img3{
    background-image: url(img/twd.jpg);
    background-size: cover;
  }
  .img4{
    background-image: url(img/himym.jpg);
    background-size:cover;
  }
  .img5{
    background-image: url(img/falcon.jpg);
    background-size: cover;
  }
  .img6{
    background-image: url(img/snk.jpg);
    background-size: cover;
  }
  .contenido-cuadrito{
    background-color: rgba(0, 0, 0, 0.733);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .contenido-cuadrito p{
    font-size: 3rem;
    color: whitesmoke;
  }
  .contenido-cuadrito img{
    width: 64px;
    height: 64px;
  }
  .contenido-cuadrito:hover{
    background-color: rgba(0, 0, 0, 0);
  }